/* AllToys.css */
.custom-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-table tr:hover {
    background-color: #e5e5e5;
    animation: highlightRow 0.3s ease-in-out;
  }
  /* AllToys.css */
.details-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @keyframes highlightRow {
    0% {
      background-color: #e5e5e5;
    }
    100% {
      background-color: #fff;
    }
  }
  